# Github's Suggested WordPress .gitignore Rules #
# See https://github.com/github/gitignore       #
#################################################
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
local-config.php
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/readme.html
/license.txt

# Ignore OS files #
###################
._*
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore files specific to IDEs and Editors #
#############################################
_notes
.cache
.idea
.project
.settings
*.esproj
*.sublime-*
*.tmproj
*.tmproject
*.vi
dwsync.xml
nbproject
tmtags
atlassian-ide-plugin.xml
*.iml
sftp_config.json

# Miscellaneous garbage to ignore #
###################################
.vagrant
deploy.ini
*.bak
*.diff
*.err
*.log
*.orig
*.rej
*.sass-cache
*.sql
*.swo
*.swp
*.zip
*~
node_modules
parameters.yml
error_log

# Ignore Other VCSs #
#####################
.hg
.svn

# Ignore Dev Plugins #
######################
wp-content/plugins/debug-bar
wp-content/plugins/debug-bar-actions-and-filters-addon
wp-content/plugins/debug-bar-console
wp-content/plugins/debug-bar-constants
wp-content/plugins/debug-bar-cron
wp-content/plugins/debug-bar-list-dependencies
wp-content/plugins/debug-bar-post-types
wp-content/plugins/debug-bar-remote-requests
wp-content/plugins/debug-bar-roles-and-capabilities
wp-content/plugins/debug-bar-shortcodes
wp-content/plugins/debug-bar-transients
wp-content/plugins/developer
wp-content/plugins/log-deprecated-notices
wp-content/plugins/log-viewer
wp-content/plugins/monster-widget
wp-content/plugins/piglatin
wp-content/plugins/query-monitor
wp-content/plugins/regenerate-thumbnails
wp-content/plugins/rewrite-rules-inspector
wp-content/plugins/rtl-tester
wp-content/plugins/simply-show-ids
wp-content/plugins/theme-check
wp-content/plugins/theme-test-drive
wp-content/plugins/user-switching
wp-content/plugins/vip-scanner
wp-content/db.php

# Binaries installed by EWWW Image Optimizer plugin #
#####################################################
wp-content/ewww
